<!-- Tela Principal da Agenda -->
{% extends "app3/_layouts/base.html" %}{% load static %}
{% block conteudo %}

    <main role="main" style="align-content: center">
    <style>
        .img-fluid {
            max-width: 100%;
            height: auto;
        }
        .modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
        .modal {
    position: fixed;
    top: 100px;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}

    </style>
      <div class="jumbotron rounded-0 text-center div-background">
        <h1 class="display-5">Agenda de Vacinação</h1>
      </div>
      <div class="container text-center" style="padding-left: 50px">
        <div class="row" style="align-content: center">
          <div class="col-4 col-md-4 offset-md-3">
            <a href="#" data-toggle="modal" data-target="#addEvent">
              <img src="{% static 'app2/imgs/new.png' %}" class="img-fluid" alt=""/>
            </a>
            <br/>
              <br/>
            <h6 class="py-2" style="font-size: 25px">Novo Agendamento</h6>
          </div>
          <div class="col-4 col-md-4">
            <a href="{% url 'app1:agenda-events-day' today.year today.month today.day %}">
              <img src="{% static 'app2/imgs/today.png' %}" class="img-fluid" alt=""/>
            </a>
            <br/>
              <br/>
            <h6 class="py-2" style="font-size: 25px">Agenda de Hoje</h6>
          </div>
          <div class="col-4 col-md-4">
            <a href="{% url 'app1:agenda-events-all' %}">
              <img src="{% static 'app2/imgs/all.png' %}" class="img-fluid" alt=""/>
            </a>
            <br/>
              <br/>
            <h6 class="py-2" style="font-size: 25px">Todos os Agendamentos</h6>
          </div>
        </div>
      </div>
    </main>
{% include "app3/agenda/modals/new.html" %}
{% endblock %}