<!-- Agendamentos do Dia -->
{% extends "app3/_layouts/base.html" %}{% load static %}
{% block conteudo %}
<body style="line-height: 0.5; background-color: #d5d6da; font-size: 'Titillium Web'">
    <main role="main">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          <div>
            <a style="color: #2c354a "  href="{% url 'app1:agenda-events-day' previous.year previous.month previous.day %}">&lt;&lt;</a>
          </div>
          <div style="padding: 20px; margin-top: 20px" class="align-self-center text-center">
            <strong style="padding: 17px">{{ day|date:"l" }}</strong>
  		        <h1 style="padding: 17px" class="display-5">{{ day.day }}</h1>
              {{ day|date:"d/m/Y" }}
            </div>
            <div class="align-self-center mt-2 mb-5">
              <a style="color: #2c354a" href="{% url 'app1:agenda-events-day' next.year next.month next.day %}">&gt;&gt;</a>
            </div>
          </div>
          <div class="card-body">
              {% if events|length > 0 %}
              {% for event in events %}
            <div role="alert" class="d-flex alert {% if event.priority == '1' %} alert-success{% elif event.priority == '2' %} alert-warning{% elif event.priority == '3' %} alert-danger{% else %} alert-secondary{% endif %}">
              <div class="p-2 text-truncate">
                <a style="color: #2c354a" class="text-dark edit-event" id="event-{{ event.id }}-{{ event.priority }}" href="#">{{ event.event }}</a>
              </div>
              </div>
           {% endfor %}
          {% else %}
            <div class="alert alert-secondary text-center">
              Sem agendamento para este dia.
            </div>
          {% endif %}
          </div>
        </div>
    </main>
</body>
{% include "app3/agenda/modals/new.html" %}
{% include "app3/agenda/modals/edit.html" %}
{% endblock %}